Makefile
**/.DS_Store
*.rc
testbench/csrc/
testbench/simv*
simv*
.fsm*

verdi_config_file
*.out
*.log
default.svf
ucli.key
novas.conf
inter.fsdb

output/*
matlab/*.txt
results/*
syn_simv.daidir/*
top_dclib/*
alib-52/*
csrc/*
temp_files/*
reports/*

export/*
syn_simv
top_test.vcd
inter.fsdb.xlist
logs/synth.log
